button {
  margin-top: 1.5em;
  background-color: var(--c-white);
  border: 1px solid var(--c-black);
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: 0.2s background-color ease-in;
}

button:hover {
  background-color: lightgrey;
}

.button-red {
  background-color: var(--c-red);
  color: var(--c-white);
}

.button-red:hover {
  background-color: #d90d0d;
  color: var(--c-white);
}
